{% extends 'base_layout.html' %}
{% load crispy_forms_tags %}
{% block content %}

{% if card.yuyu_tei %}
    yuyu_tei: {{usd_yuyu_tei}}
{% endif %}
{% if card.suruga_ya %}
    suruga_ya: {{usd_suruga_ya}}
{% endif %}
{% if card.amazon_jp %}
    amazon_jp: {{usd_amazon_jp}}
{% endif %}
{% if card.ebay %}
    ebay: {{usd_price_ebay}}
{% endif %}
{% if usd_average != None %}
    avarage: {{usd_average}}
{% endif %}
<div class="row mt-3">
    
    <div class="col-lg-4">

        <nav>
            <div class="nav nav-pills">
                {% if card.image_en %}
                    <a class="nav-item nav-link cardh active" data-toggle="tab" href="#en" role="tab" aria-controls="en" aria-selected="true">
                        {% if card.translated == True %} Translated {% else %} English {% endif %}
                    </a>
                {% endif %}
                {% if card.image_jp %}
                    <a class="nav-item nav-link cardh {% if not card.image_en %} active {% endif %}" data-toggle="tab" href="#jp" role="tab" aria-controls="jp" aria-selected="false">Japanese</a>
                {% endif %}
            </div>
        </nav>

        <div class="tab-content card-bg border-w p-0" id="nav-tabContent">
            {% if card.image_en %}
                <div class="tab-pane fade show active" id="en" role="tabpanel">
                    {% if card.image_parallel_en %}
                        <div class="show active" id="en" role="tabpanel">
                            <div class="nav " id="nav-tab" role="tablist">
                                <a class="nav-item nav-link_p active" data-toggle="tab" href="#en_standard" role="tab" aria-controls="en_standard" aria-selected="true">Standard</a>
                                <a class="nav-item nav-link_p" data-toggle="tab" href="#en_parallel" role="tab" aria-controls="en_parallel" aria-selected="true">Parallel</a>
                            </div>
                        </div>
                    {% endif %}

                    <div class="tab-content" id="nav-tabContent">
                        {% if card.image_en %}
                            <div class="tab-pane fade show active" id="en_standard" role="tabpanel">
                                <img class="img-fluid mx-auto d-block card-img-main" src="{{card.image_en.url}}">
                            </div>
                        {% endif %}
                        {% if card.image_parallel_en %}
                            <div class="tab-pane fade" id="en_parallel" role="tabpanel">
                                <img class="img-fluid mx-auto d-block card-img-main" src="{{card.image_parallel_en.url}}">
                            </div>
                        {% endif %}
                    </div>
                </div>
            {% endif %}

            {% if card.image_jp %}
                <div class="tab-pane fade {% if not card.image_en %} show active {% endif %}" id="jp" role="tabpanel">
                    {% if card.image_parallel_jp %}
                        <div class="tab-pane fade show active" id="jp" role="tabpanel">
                            <div class="nav" id="nav-tab" role="tablist">
                                <a class="nav-item nav-link_p active" data-toggle="tab" href="#jp_standard" role="tab" aria-controls="jp_standard" aria-selected="true">Standard</a>
                                <a class="nav-item nav-link_p" data-toggle="tab" href="#jp_parallel" role="tab" aria-controls="jp_parallel" aria-selected="true">Parallel</a>
                            </div>
                        </div>
                    {% endif %}

                    <div class="tab-content" id="nav-tabContent">
                        {% if card.image_jp %}
                        <div class="tab-pane fade show active" id="jp_standard" role="tabpanel">
                            <img class="img-fluid mx-auto d-block card-img-main" src="{{card.image_jp.url}}">
                        </div>
                        {% endif %}
                        {% if card.image_parallel_jp %}
                            <div class="tab-pane fade" id="jp_parallel" role="tabpanel">
                                <img class="img-fluid mx-auto d-block card-img-main" src="{{card.image_parallel_jp.url}}">
                            </div>
                        {% endif %}
                    </div>
                </div>
            {% endif %}
            
        </div>

        <!-- <nav>
            <div class="nav nav-pills" id="nav-tab" role="tablist">
                {% if card.image_en %}
                    {% if card.translated == False %}
                        <a class="nav-item nav-link active" id="en" data-toggle="tab" href="#en" role="tab" aria-controls="en" aria-selected="true">English</a>
                    {% else %}
                        <a class="nav-item nav-link active" id="en" data-toggle="tab" href="#en" role="tab" aria-controls="en" aria-selected="true">Translated</a>
                    {% endif %}
                {% endif %}
                {% if card.image_jp %}
                    <a class="nav-item nav-link {% if not card.image_en %} active {% endif %}" id="jp" data-toggle="tab" href="#jp" role="tab" aria-controls="jp" aria-selected="false">Japanese</a>
                {% endif %}
            </div>
        </nav>
        <div class="card-bg border-w">
            <div class="tab-content" id="nav-tabContent">
                {% if card.image_en %}
                    <div class="nav nav-pills" id="nav-tab" role="tablist">
                        {% if card.image_en %}
                            <a class="nav-item nav-link active " id="jp" data-toggle="tab" href="#jp" role="tab" aria-controls="jp" aria-selected="false">Standard</a>
                        {% endif %}
                        {% if card.image_en %}
                            <a class="nav-item nav-link" id="jp" data-toggle="tab" href="#jp" role="tab" aria-controls="jp" aria-selected="false">Parallel</a>
                        {% endif %}
                    </div>
                    <div class="tab-pane fade show active" id="en" role="tabpanel" aria-labelledby="en">
                        <img class="img-fluid mx-auto d-block card-img-main" src="{{card.image_en.url}}">
                    </div>
                    {% if card.image_parallel_en %}
                        <div class="tab-pane fade" id="parallel" role="tabpanel" aria-labelledby="jp">
                            <img class="img-fluid mx-auto d-block card-img-main" src="{{card.image_parallel_jp.url}}">
                        </div>
                    {% endif %}
                {% endif %}
                {% if card.image_jp.url %}
                    <div class="tab-pane fade {% if not card.image_en %} show active {% endif %}" id="jp" role="tabpanel" aria-labelledby="jp">
                        <img class="img-fluid mx-auto d-block card-img-main" src="{{card.image_jp.url}}">
                    </div>
                {% endif %}
                {% if card.image_parallel_jp %}
                    <div class="tab-pane fade" id="parallel" role="tabpanel" aria-labelledby="jp">
                        <img class="img-fluid mx-auto d-block card-img-main" src="{{card.image_parallel_jp.url}}">
                    </div>
                {% endif %}
            </div>
            <table>
                <tr>
                    <td>Artist:</td>
                    <td><a href="/cards/search?artist={{card.artist}}#results">{{card.artist}}</a></td>
                </tr>
            </table>
        </div> -->




    </div>


    <div class="col-lg-8 pl-1 pr-1">
        <div class="color-{{card.color}} light-bg no-radius-bot p-0 dflex-mobile">
            <div class="d-inline-flex mb-less-3">
                <h1 class="card-title ml-4 pt-1">{{ card.title }}</h1>
                <h5 class="card-rarity-{{card.color}} ml-2 mt-2 color-{{card.color}}-txt">{{card.rarity}}</h5>
            </div>
            <div></div>
            <div class="d-inline-flex mt-less-3">
                <h5 class="ml-4">{{card.title_jp}}</h5>
                <h5 class="card-title-n ml-2 color-{{card.color}}">{{ card.number }}</h5>
            </div>
        </div>
        
        
        <div class="light-bg no-radius-top">
            <div class="row p-0 m-0">
                {% if card.card_type is not None %}
                    <div class="col-lg p-0">
                        <div class="th cardh card-info">Card Type</div>
                        <div class="td cardtd card-info"><a href="/cards/search?card_type={{card.card_type}}#results">{{card.card_type}}</a></div>
                    </div>
                {% endif %}
                {% if card.color is not None %}
                    <div class="col-lg p-0">
                        <div class="th cardh card-info">Color</div>
                        <div class="td cardtd  card-info color-{{card.color}}">
                            <a class="color-{{card.color}}" href="/cards/search?color={{card.color}}#results">
                                {{card.color}}
                            </a>
                        </div>
                    </div>
                {% endif %}
                {% if card.lv is not None %}
                    <div class="col-lg p-0">
                        <div class="th cardh card-info">LV</div>
                        <div class="td cardtd card-info">{{card.lv}}</div>
                    </div>
                {% endif %}
                {% if card.dp is not None %}
                    <div class="col-lg p-0">
                        <div class="th cardh card-info">DP</div>
                        <div class="td cardtd card-info">{{card.dp}}<a class="zeros">000</a></div>
                    </div>
                {% endif %}
            </div>
            <div class="row p-0 m-0">
                {% if card.number is not None %}
                    <div class="col-lg p-0">
                        <div class="th cardh card-info">Number</div>
                        <div class="td cardtd card-info">{{card.number}}</div>
                    </div>
                {% endif %}
                {% if card.rarity is not None %}
                    <div class="col-lg p-0">
                        <div class="th cardh card-info">Rarity</div>
                        <div class="td cardtd card-info">
                            {% if card.rarity == 'C' %}<a href="/cards/search?rarity={{card.rarity}}#results">Common</a>
                            {% elif card.rarity == 'U' %}<a href="/cards/search?rarity={{card.rarity}}#results">Uncommon</a>
                            {% elif card.rarity == 'R' %}<a href="/cards/search?rarity={{card.rarity}}#results">Rare</a>
                            {% elif card.rarity == 'SR' %}<a href="/cards/search?rarity={{card.rarity}}#results">Super Rare</a>
                            {% elif card.rarity == 'SEC' %}<a href="/cards/search?rarity={{card.rarity}}#results">Secret Rare</a>
                            {% elif card.rarity == 'P' %}<a href="/cards/search?rarity={{card.rarity}}#results">Promo</a>
                            {% endif %}
                        </div>
                    </div>
                {% endif %}
                {% if card.play_cost is not None %}
                    <div class="col-lg p-0">
                        <div class="th cardh card-info">Play Cost</div>
                        <div class="td cardtd card-info cost-bg-play">{{card.play_cost}}</div>
                    </div>
                {% endif %}
                {% if card.evolution_cost_1 is not None %}
                    <div class="col-lg p-0">
                        <div class="th cardh card-info">Digivolve Cost</div>
                        <div class="td cardtd card-info color-radial-{{card.evolution_cost_1_color}}">{{card.evolution_cost_1}}</div>
                    </div>
                {% endif %}
                {% if card.evolution_cost_2 is not None %}
                    <div class="col-lg p-0">
                        <div class="th cardh card-info">Digivolve Cost</div>
                        <div class="td cardtd card-info color-radial-{{card.evolution_cost_2_color}}">{{card.evolution_cost_2}}</div>
                    </div>
                {% endif %}
            </div>
            <div class="row p-0 m-0">
                <div class="col-lg p-0 d-inline-flex">
                    <div class="th cardh card-info flex-fill center">Set</div>
                    <div class="td cardtd card-info flex-fill">
                        <a href="/cards/{{card.set.slug}}"><no class="text-uppercase">{{card.set.slug}}</no> - {{card.set}}</a>
                        <h6 class="fz-promo-name">{% if card.promo_name %}({{card.promo_name}}){% endif %}</h6>
                    </div>
                </div>
            </div>
            {% if card.digimon %}
                <div class="row p-0 m-0">
                    <div class="col-lg p-0">
                        <div class="th cardh card-info">Digimon</div>
                        <div class="td cardtd card-info">
                            {% if card.digimon.image %}
                                <img class="digimon-icon" src="{{ card.digimon.image.url }}">
                            {% endif %}
                            <a href="/cards/search?digimon={{card.digimon.id}}#results" class="mt-2 ml-2">{{card.digimon}}</a>
                        </div>
                    </div>
                </div>
            {% endif %}
            {% if card.digimon %}
                <div class="row p-0 m-0">
                    <div class="col-lg p-0">
                        <div class="th cardh card-info">Stage</div>
                        <div class="td cardtd card-info">{{card.digimon.stage}}</div>
                    </div>
                    <div class="col-lg p-0">
                        <div class="th cardh card-info">Attribute</div>
                        <div class="td cardtd card-info">{{card.digimon.attribute}}</div>
                    </div>
                    <div class="col-lg p-0">
                        <div class="th cardh card-info">Digimon Type</div>
                        <div class="td cardtd card-info">{{card.digimon.digimon_type}}</div>
                    </div>
                </div>
            {% endif %}
        </div>


        {% if effect_main %}
            <div class="light-bg mt-2 no-radius-bot effecth">
                <h4 class="ml-2 font-italic font-weight-bolder">Main Effect</h4>
            </div>
            <div class="light-bg no-radius-top">
                {% for effect_m in effect_main %}
                    <h6 class="font-weight-normal">
                        {% if effect_m.effect_blue %}<a class="effect-blue ml-1 mr-1" id="white-effect">{{effect_m.effect_blue}}</a>{% endif %}
                        {% if effect_m.effect_purple %}<a class="effect-purple ml-1 mr-1" id="white-effect">{{effect_m.effect_purple}}</a>{% endif %}
                        {% if effect_m.effect_txt %}<a class="effect-txt">{{effect_m.effect_txt | safe}}</a>{% endif %}
                        {% if effect_m.effect_keyword %}
                            {% if effect_m.effect_keyword.title == "Draw" %}
                                <a class="effect-keyword ml-1 mr-1" id="white-effect">{{effect_m.effect_keyword.title}} {{effect_m.effect_keyword_mnt}}</a>
                                <a class="effect-txt ml-1 mr-1 effect-txt">(Draw {{effect_m.effect_keyword_mnt}} card from your deck)</a>
                            {% elif effect_m.effect_keyword.title == "Security Attack +" %}
                                <a class="effect-keyword ml-1 mr-1" id="white-effect">{{effect_m.effect_keyword.title}}{{effect_m.effect_keyword_mnt}}</a>
                                <a class="effect-txt ml-1 mr-1 effect-txt">(This Digimon checks {{effect_m.effect_keyword_mnt}} additional security card)</a>
                            {% elif effect_m.effect_keyword.title == "Security Attack -" %}
                                <a class="effect-keyword ml-1 mr-1" id="white-effect">{{effect_m.effect_keyword.title}}{{effect_m.effect_keyword_mnt}}</a>
                                <a class="effect-txt ml-1 mr-1 effect-txt">(This Digimon checks {{effect_m.effect_keyword_mnt}} fewer security cards)</a>
                            {% elif effect_m.effect_keyword.title == "Recovery (Deck) +" %}
                                <a class="effect-keyword ml-1 mr-1" id="white-effect">Recovery +{{effect_m.effect_keyword_mnt}} (Deck)</a>
                                {% if effect_m.effect_keyword_mnt == 1 %}
                                    <a class="effect-txt ml-1 mr-1 effect-txt">(Place the top card of your deck on top of your security stack.)</a>
                                {% else %}
                                    <a class="effect-txt ml-1 mr-1 effect-txt">(Place the top {{effect_m.effect_keyword_mnt}} cards of your deck on top of your security stack.)</a>
                                {% endif %}
                            {% elif effect_m.effect_keyword.title == "De-Digivolve" %}
                                <a class="effect-keyword ml-1 mr-1" id="white-effect">{{effect_m.effect_keyword.title}} {{effect_m.effect_keyword_mnt}}</a>
                                <a class="effect-txt ml-1 mr-1 effect-txt">on {{effect_m.effect_keyword_mnt}} of your opponent's Digimon. (Trash up to {{effect_m.effect_keyword_mnt}} cards from the top of one of your opponent's Digimon. If it has no digivolution cards， or becomes a level 3 Digimon, you can't trash any more cards.)</a>
                            {% else %}
                                <a class="effect-keyword ml-1 mr-1" id="white-effect">{{effect_m.effect_keyword.title}}</a>
                                <a class="effect-txt ml-1 mr-1 effect-txt">({{effect_m.effect_keyword.desc}})</a>
                            {% endif %}
                        {% endif %}
                    </h6>
                {% endfor %}
            </div>
        {% endif %}

        {% if effect_inheritable %}
            <div class="effecth light-bg mt-2 no-radius-bot color-{{card.color}}">
                {% if card.card_type == 'Digimon' or card.card_type == 'Digitama' %}
                    <h4 class="ml-2 font-italic font-weight-bolder">Inheritable Effect</h4>
                {% endif %}
                {% if card.card_type == 'Tamer' or card.card_type == 'Option' %}
                    <h4 class="ml-2 font-italic font-weight-bolder">Security Effect</h4>
                {% endif %}
            </div>
            <div class="color-{{card.color}} light-bg no-radius-top">
                <h6 class="font-weight-normal">
                    {% for effect_i in effect_inheritable %}
                        {% if effect_i.effect_blue %}<a class="effect-blue ml-1 mr-1" id="white-effect">{{effect_i.effect_blue}}</a>{% endif %}
                        {% if effect_i.effect_purple %}<a class="effect-purple ml-1 mr-1" id="white-effect">{{effect_i.effect_purple}}</a>{% endif %}
                        {% if effect_i.effect_txt %}<a class="effect-txt">{{effect_i.effect_txt | safe}}</a>{% endif %}
                        {% if effect_i.effect_keyword %}
                            {% if effect_i.effect_keyword.title == "Draw" %}
                                <a class="effect-keyword ml-1 mr-1" id="white-effect">{{effect_i.effect_keyword.title}} {{effect_i.effect_keyword_int}}</a>
                                <a class="effect-txt ml-1 mr-1 effect-txt">(Draw {{effect_i.effect_keyword_int}} card from your deck)</a>
                            {% elif effect_i.effect_keyword.title == "Security Attack +" %}
                                <a class="effect-keyword ml-1 mr-1" id="white-effect">{{effect_i.effect_keyword.title}}{{effect_i.effect_keyword_int}}</a>
                                <a class="effect-txt ml-1 mr-1 effect-txt">(This Digimon checks {{effect_i.effect_keyword_int}} additional security card)</a>
                            {% elif effect_i.effect_keyword.title == "Security Attack -" %}
                                <a class="effect-keyword ml-1 mr-1" id="white-effect">{{effect_i.effect_keyword.title}}{{effect_i.effect_keyword_int}}</a>
                                <a class="effect-txt ml-1 mr-1 effect-txt">(This Digimon checks {{effect_i.effect_keyword_int}} fewer security cards)</a>
                            {% elif effect_i.effect_keyword.title == "Recovery (Deck) +" %}
                                <a class="effect-keyword ml-1 mr-1" id="white-effect">Recovery +{{effect_i.effect_keyword_int}} (Deck)</a>
                                {% if effect_i.effect_keyword_int == 1 %}
                                    <a class="effect-txt ml-1 mr-1 effect-txt">(Place the top card of your deck on top of your security stack.)</a>
                                {% else %}
                                    <a class="effect-txt ml-1 mr-1 effect-txt">(Place the top {{effect_i.effect_keyword_int}} cards of your deck on top of your security stack.)</a>
                                {% endif %}
                            {% elif effect_i.effect_keyword.title == "De-Digivolve" %}
                                <a class="effect-keyword ml-1 mr-1" id="white-effect">{{effect_i.effect_keyword.title}} {{effect_i.effect_keyword_int}}</a>
                                <a class="effect-txt ml-1 mr-1 effect-txt">on {{effect_i.effect_keyword_int}} of your opponent's Digimon. (Trash up to {{effect_i.effect_keyword_int}} cards from the top of one of your opponent's Digimon. If it has no digivolution cards， or becomes a level 3 Digimon, you can't trash any more cards.)</a>
                            {% else %}
                                <a class="effect-keyword ml-1 mr-1" id="white-effect">{{effect_i.effect_keyword.title}}</a>
                                <a class="effect-txt ml-1 mr-1 effect-txt">({{effect_i.effect_keyword.desc}})</a>
                            {% endif %}
                        {% endif %}
                    {% endfor %}
                </h6>
            </div>
        {% endif %}

        {% if user.is_authenticated %}
            <form method="POST">
                {% csrf_token %}
                <fieldset class="form-group">
                    <legend class="border-bottom mb-4">Add card</legend>
                    {{ form|crispy }}
                </fieldset>
                <div class="form-group">
                    <button class="pilss-cl btn" type="submit">Add</button>
                </div>
            </form>
        {% endif %}

    </div>


    <div class="w-100 d-flex justify-content-between">
        {% for card in previous_card|slice:":1" %}
            <div class="light-bg">
                {% if card.slug %}
                    <a class="font-weight-bold previous-c" href="/cards/{{card.set.slug}}/{{ card.slug}}">◄ {{card.slug}} - {{card.title}}</a>
                {% endif %}
            </div>
        {% endfor %}
        {% for card in next_card|slice:":1" %}
            <div class="light-bg">
                {% if card.slug %}
                    <a class="next-c font-weight-bold" href="/cards/{{card.set.slug}}/{{ card.slug}}">{{card.slug}} - {{card.title}} ►</a>
                {% endif %}
            </div>
        {% endfor %}
    </div>

</div>    

{% endblock %}
