{% extends 'base_layout.html' %}
{% load crispy_forms_tags %}
{% block content %}

{% if card.yuyu_tei %}
    yuyu_tei: {{usd_yuyu_tei}}
{% endif %}
{% if card.suruga_ya %}
    suruga_ya: {{usd_suruga_ya}}
{% endif %}
{% if card.amazon_jp %}
    amazon_jp: {{usd_amazon_jp}}
{% endif %}
{% if card.ebay %}
    ebay: {{usd_price_ebay}}
{% endif %}
{% if usd_average != None %}
    avarage: {{usd_average}}
{% endif %}
<div class="row mt-3">
    
    <div class="col-lg-4">
        <nav>
            <div class="nav nav-pills" id="nav-tab" role="tablist">
                {% if card.image_en %}
                <a class="nav-item nav-link active" id="nav-home-tab" data-toggle="tab" href="#nav-home" role="tab" aria-controls="nav-home" aria-selected="true">Translated</a>
                {% endif %}
                {% if card.image_jp.url %}
                <a class="nav-item nav-link {% if not card.image_en %} active {% endif %}" id="nav-profile-tab" data-toggle="tab" href="#nav-profile" role="tab" aria-controls="nav-profile" aria-selected="false">Japanese</a>
                {% endif %}
                {% if card.image_parallel_jp %}
                <a class="nav-item nav-link" id="nav-profile-tab" data-toggle="tab" href="#parallel" role="tab" aria-controls="nav-profile" aria-selected="false">Parallel</a>
                {% endif %}
            </div>
        </nav>
        <div class="card-bg border-w">
            <div class="tab-content" id="nav-tabContent">
                {% if card.image_en %}
                <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
                    <img class="img-fluid mx-auto d-block card-img-main" src="{{card.image_en.url}}">
                </div>
                {% endif %}
                {% if card.image_jp.url %}
                <div class="tab-pane fade {% if not card.image_en %} show active {% endif %}" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
                    <img class="img-fluid mx-auto d-block card-img-main" src="{{card.image_jp.url}}">
                </div>
                {% endif %}
                {% if card.image_parallel_jp %}
                <div class="tab-pane fade" id="parallel" role="tabpanel" aria-labelledby="nav-profile-tab">
                    <img class="img-fluid mx-auto d-block card-img-main" src="{{card.image_parallel_jp.url}}">
                </div>
                {% endif %}
            </div>
            <table>
                <tr>
                    <td>Artist:</td>
                    <td><a href="/cards/search?artist={{card.artist}}#results">{{card.artist}}</a></td>
                </tr>
            </table>
        </div>
    </div>
    <div class="col-lg-8 pl-1 pr-1">
        <div class="color-{{card.color}} light-bg no-radius-bot p-0 dflex-mobile">
            <div class="d-inline-flex mb-less-3">
                <h1 class="card-title ml-4 pt-1">{{ card.title }}</h1>
                <h5 class="card-rarity-{{card.color}} ml-2 mt-2 color-{{card.color}}-txt">{{card.rarity}}</h5>
            </div>
            <div></div>
            <div class="d-inline-flex mt-less-3">
                <h5 class="ml-4">{{card.title_jp}}</h5>
                <h5 class="card-title-n ml-2 color-{{card.color}}">{{ card.number }}</h5>
            </div>
        </div>
        
        <!-- OLD
        <div class="light-bg no-radius-tops">
            <div class="d-inline-flex los-card bd-highlight"> 
                <h3 class="mr-3 digimontext">{{card.card_type}}</h3>
                {% if card.lv is not None %}
                    <h2 class="lv-bg color-{{card.color}} mr-3">LV{{card.lv}}</h2>
                {% endif %}
                {% if card.dp is not None %}
                    <div class="d-inline-flex">
                        <h3 class="dptxt dpfull font-italic closer-letters mr-2">DP </h3><h2 class="dpn dpfull">{{card.dp}}</h2><h5 class="zeros dpfull mr-3">000</h5>
                    </div>
                {% endif %}
                {% if card.play_cost is not None %}
                    <div class="d-inline-flex">
                        <h5 class="costtxt dpfull mr-1"><p>Play </p><p>Cost </p</h5>
                        <h2 class="cost-bg cost-bg-play mr-3">{{card.play_cost}}</h2>
                    </div>
                {% endif %}
                {% if card.evolution_cost_1 is not None %}
                    <div class="d-inline-flex">
                        <h5 class="costtxt dpfull mr-1"><p>Evo </p><p>Cost </p></h5>
                        <h2 class="color-radial-{{card.evolution_cost_1_color}} cost-bg  mr-3">{{card.evolution_cost_1}}</h2>
                    </div>
                {% endif %}
                {% if card.evolution_cost_2 is not None %}
                    <div class="d-inline-flex">
                        <h5 class="costtxt dpfull mr-1"><p>Evo </p><p>Cost 2</p></h5
                        ><h2 class="color-radial-{{card.evolution_cost_2_color}} cost-bg  mr-3">{{card.evolution_cost_2}}</h2>
                    </div>
                {% endif %}
            </div>
            <div></div>
            
            <div class="row">
                <div class="col-lg pl-2 pr-2">
                    <table class="table table-dark ">
                        <tr>
                            <td class="w-30">Number:</td>
                            <td>{{card.number}}</td>
                        </tr>
                        <tr>
                            <td>Color:</td>
                            <td class="font-italic font-weight-bold"><a class="color-{{card.color}}-txt" href="/cards/search?color={{card.color}}#results">{{card.color}}</a></td>
                        </tr>
                        <tr>
                            <td>Rarity:</td>
                            {% if card.rarity == 'C' %}<td><a href="/cards/search?rarity={{card.rarity}}#results">Common</a></td>
                            {% elif card.rarity == 'U' %}<td><a href="/cards/search?rarity={{card.rarity}}#results">Uncommon</a></td>
                            {% elif card.rarity == 'R' %}<td><a href="/cards/search?rarity={{card.rarity}}#results">Rare</a></td>
                            {% elif card.rarity == 'SR' %}<td><a href="/cards/search?rarity={{card.rarity}}#results">Super Rare</a></td>
                            {% elif card.rarity == 'SEC' %}<td><a href="/cards/search?rarity={{card.rarity}}#results">Secret Rare</a></td>
                            {% elif card.rarity == 'P' %}<td><a href="/cards/search?rarity={{card.rarity}}#results">Promo</a></td>
                            {% endif %}
                        </tr>
                    </table>
                </div>
                <div class="col-lg pl-2 pr-2">
                    <table class="table table-dark ">
                        <tr>
                            <td>Set:</td>
                            <td>
                                <a href="/cards/{{card.set.slug}}">{{card.set}}</a>
                                <h6 class="fz-promo-name">{% if card.promo_name %}({{card.promo_name}}){% endif %}</h6>
                            </td>
                        </tr>
                        <tr>
                            <td>Card Type:</td>
                            <td><a href="/cards/search?card_type={{card.card_type}}#results">{{card.card_type}}</a></td>
                        </tr>
                        {% if card.digimon %}
                            <tr class="p-0 m-0">
                                <td>Digimon:</td>
                                <td class="p-0 m-0 ">
                                    <div class="d-inline-flex p-0 m-0"> 
                                        {% if card.digimon.image %}
                                            <img class="digimon-icon mt-1" src="{{ card.digimon.image.url }}">
                                        {% endif %}
                                        <a href="/cards/search?digimon={{card.digimon.id}}#results" class="mt-2 ml-2">{{card.digimon}}</a>
                                    </div>
                                </td>
                            </tr>
                        {% endif %}
                    </table>
                </div>
                {% if card.digimon %}
                    <div class="col-lg pl-2 pr-2">
                        <table class="table table-dark ">
                                <tr>
                                    <td>Stage:</td>
                                    <td>{{card.digimon.stage}}</td>
                                </tr>
                                <tr>
                                    <td>Attribute:</td>
                                    <td>{{card.digimon.attribute}}</td>
                                </tr>
                                <tr>
                                    <td>Digimon Type:</td>
                                    <td>{{card.digimon.digimon_type}}</td>
                                </tr>
                        </table>
                    </div>
                {% endif %}
            </div>
        </div> -->
        
        <div class="light-bg no-radius-top">
            <div class="row p-0 m-0">
                {% if card.card_type is not None %}
                    <div class="col-lg p-0">
                        <div class="th cardh card-info">Card Type</div>
                        <div class="td cardtd card-info"><a href="/cards/search?card_type={{card.card_type}}#results">{{card.card_type}}</a></div>
                    </div>
                {% endif %}
                {% if card.color is not None %}
                    <div class="col-lg p-0">
                        <div class="th cardh card-info">Color</div>
                        <div class="td cardtd  card-info color-{{card.color}}">
                            <a class="color-{{card.color}}" href="/cards/search?color={{card.color}}#results">
                                {{card.color}}
                            </a>
                        </div>
                    </div>
                {% endif %}
                {% if card.lv is not None %}
                    <div class="col-lg p-0">
                        <div class="th cardh card-info">LV</div>
                        <div class="td cardtd card-info">{{card.lv}}</div>
                    </div>
                {% endif %}
                {% if card.dp is not None %}
                    <div class="col-lg p-0">
                        <div class="th cardh card-info">DP</div>
                        <div class="td cardtd card-info">{{card.dp}}<a class="zeros">000</a></div>
                    </div>
                {% endif %}
            </div>
            <div class="row p-0 m-0">
                {% if card.number is not None %}
                    <div class="col-lg p-0">
                        <div class="th cardh card-info">Number</div>
                        <div class="td cardtd card-info">{{card.number}}</div>
                    </div>
                {% endif %}
                {% if card.rarity is not None %}
                    <div class="col-lg p-0">
                        <div class="th cardh card-info">Rarity</div>
                        <div class="td cardtd card-info">
                            {% if card.rarity == 'C' %}<a href="/cards/search?rarity={{card.rarity}}#results">Common</a>
                            {% elif card.rarity == 'U' %}<a href="/cards/search?rarity={{card.rarity}}#results">Uncommon</a>
                            {% elif card.rarity == 'R' %}<a href="/cards/search?rarity={{card.rarity}}#results">Rare</a>
                            {% elif card.rarity == 'SR' %}<a href="/cards/search?rarity={{card.rarity}}#results">Super Rare</a>
                            {% elif card.rarity == 'SEC' %}<a href="/cards/search?rarity={{card.rarity}}#results">Secret Rare</a>
                            {% elif card.rarity == 'P' %}<a href="/cards/search?rarity={{card.rarity}}#results">Promo</a>
                            {% endif %}
                        </div>
                    </div>
                {% endif %}
                {% if card.play_cost is not None %}
                    <div class="col-lg p-0">
                        <div class="th cardh card-info">Play Cost</div>
                        <div class="td cardtd card-info cost-bg-play">{{card.play_cost}}</div>
                    </div>
                {% endif %}
                {% if card.evolution_cost_1 is not None %}
                    <div class="col-lg p-0">
                        <div class="th cardh card-info">Digivolve Cost</div>
                        <div class="td cardtd card-info color-radial-{{card.evolution_cost_1_color}}">{{card.evolution_cost_1}}</div>
                    </div>
                {% endif %}
                {% if card.evolution_cost_2 is not None %}
                    <div class="col-lg p-0">
                        <div class="th cardh card-info">Digivolve Cost</div>
                        <div class="td cardtd card-info color-radial-{{card.evolution_cost_2_color}}">{{card.evolution_cost_2}}</div>
                    </div>
                {% endif %}
            </div>
            <div class="row p-0 m-0">
                <div class="col-lg p-0 d-inline-flex">
                    <div class="th cardh card-info flex-fill center">Set</div>
                    <div class="td cardtd card-info flex-fill">
                        <a href="/cards/{{card.set.slug}}"><no class="text-uppercase">{{card.set.slug}}</no> - {{card.set}}</a>
                        <h6 class="fz-promo-name">{% if card.promo_name %}({{card.promo_name}}){% endif %}</h6>
                    </div>
                </div>
            </div>
            {% if card.digimon %}
                <div class="row p-0 m-0">
                    <div class="col-lg p-0">
                        <div class="th cardh card-info">Digimon</div>
                        <div class="td cardtd card-info">
                            {% if card.digimon.image %}
                                <img class="digimon-icon" src="{{ card.digimon.image.url }}">
                            {% endif %}
                            <a href="/cards/search?digimon={{card.digimon.id}}#results" class="mt-2 ml-2">{{card.digimon}}</a>
                        </div>
                    </div>
                </div>
            {% endif %}
            {% if card.digimon %}
                <div class="row p-0 m-0">
                    <div class="col-lg p-0">
                        <div class="th cardh card-info">Stage</div>
                        <div class="td cardtd card-info">{{card.digimon.stage}}</div>
                    </div>
                    <div class="col-lg p-0">
                        <div class="th cardh card-info">Attribute</div>
                        <div class="td cardtd card-info">{{card.digimon.attribute}}</div>
                    </div>
                    <div class="col-lg p-0">
                        <div class="th cardh card-info">Digimon Type</div>
                        <div class="td cardtd card-info">{{card.digimon.digimon_type}}</div>
                    </div>
                </div>
            {% endif %}
        </div>




        {% if card.effect_blue_1 or card.effect_txt_1 or card.effect_keyword_1  %}
            <div class="light-bg mt-2 no-radius-bot effecth">
                <h4 class="ml-2 font-italic font-weight-bolder">Main Effect</h4>
            </div>
            <div class="light-bg no-radius-top">
                <h6 class="font-weight-normal">
                    {% if card.effect_blue_1 %}<a class="effect-blue ml-1 mr-1" id="white-effect">{{card.effect_blue_1}}</a>{% endif %}
                    {% if card.effect_purple_1 %}<a class="effect-purple ml-1 mr-1" id="white-effect">{{card.effect_purple_1}}</a>{% endif %}
                    {% if card.effect_txt_1 %}<a class="effect-txt">{{card.effect_txt_1 | safe}}</a>{% endif %}
                    {% if card.effect_keyword_1 %}
                        {% if card.effect_keyword_1 == 'Pierce' %}
                            <a class="effect-keyword ml-1 mr-1" id="white-effect">{{card.effect_keyword_1}}</a>
                            <a class="effect-txt ml-1 mr-1 effect-txt">(When this Digimon attacks, if it destroys an opponent’s Digimon, it checks Security.)</a>
                        {% endif %}
                        {% if card.effect_keyword_1 == 'Draw' %}
                            <a class="effect-keyword ml-1 mr-1" id="white-effect">{{card.effect_keyword_1}} {{card.effect_keyword_int_1}}</a>
                            <a class="effect-txt ml-1 mr-1 effect-txt">(Draw {{card.effect_keyword_int_1}} card from your deck.)</a>
                        {% endif %}
                        {% if card.effect_keyword_1 == 'Jamming' %}
                            <a class="effect-keyword ml-1 mr-1" id="white-effect">{{card.effect_keyword_1}}</a>
                            <a class="effect-txt ml-1 mr-1 effect-txt">(This Digimon cannot be destroyed by battles with Security Digimon.)</a>
                        {% endif %}
                        {% if card.effect_keyword_1 == 'Security Attack +' %}
                        <a class="effect-keyword ml-1 mr-1" id="white-effect">{{card.effect_keyword_1}} {{card.effect_keyword_int_1}}</a>
                            <a class="effect-txt ml-1 mr-1 effect-txt">(Increase the number of Security this Digimon checks by +{{card.effect_keyword_int_1}}.)</a>
                        {% endif %}
                        {% if card.effect_keyword_1 == 'Security Attack -' %}
                        <a class="effect-keyword ml-1 mr-1" id="white-effect">{{card.effect_keyword_1}} {{card.effect_keyword_int_1}}</a>
                            <a class="effect-txt ml-1 mr-1 effect-txt">(Decrease the number of Security this Digimon checks by -{{card.effect_keyword_int_1}}.)</a>
                        {% endif %}
                        {% if card.effect_keyword_1 == 'Blocker' %}
                            <a class="effect-keyword ml-1 mr-1" id="white-effect">{{card.effect_keyword_1}}</a>
                            <a class="effect-txt ml-1 mr-1 effect-txt">(When the opponent Digimon performs an attack, if this Digimon is in the Active position, you may Rest this Digimon and change the target of the attack to this Digimon.)</a>
                        {% endif %}
                        {% if card.effect_keyword_1 == 'Recovery (Deck) +' %}
                        <a class="effect-keyword ml-1 mr-1" id="white-effect">{{card.effect_keyword_1}} {{card.effect_keyword_int_1}}</a>
                            <a class="effect-txt ml-1 mr-1 effect-txt">(Place {{card.effect_keyword_int_1}} card from the top of your deck into the top of your Security.)</a>
                        {% endif %}
                    {% endif %}
                </h6>
                <h6 class="font-weight-normal">
                    {% if card.effect_blue_2 %}<a class="effect-blue ml-1 mr-1" id="white-effect">{{card.effect_blue_2}}</a>{% endif %}
                    {% if card.effect_purple_2 %}<a class="effect-purple ml-1 mr-1" id="white-effect">{{card.effect_purple_2}}</a>{% endif %}
                    {% if card.effect_txt_2 %}<a class="effect-txt">{{card.effect_txt_2 | safe}}</a>{% endif %}
                    {% if card.effect_keyword_2 %}
                        {% if card.effect_keyword_2 == 'Pierce' %}
                            <a class="effect-keyword ml-1 mr-1" id="white-effect">{{card.effect_keyword_2}}</a>
                            <a class="effect-txt ml-1 mr-1 effect-txt">(When this Digimon attacks, if it destroys an opponent’s Digimon, it checks Security.)</a>
                        {% endif %}
                        {% if card.effect_keyword_2 == 'Draw' %}
                            <a class="effect-keyword ml-1 mr-1" id="white-effect">{{card.effect_keyword_2}} {{card.effect_keyword_int_2}}</a>
                            <a class="effect-txt ml-1 mr-1 effect-txt">(Draw {{card.effect_keyword_int_2}} card from your deck.)</a>
                        {% endif %}
                        {% if card.effect_keyword_2 == 'Jamming' %}
                            <a class="effect-keyword ml-1 mr-1" id="white-effect">{{card.effect_keyword_2}}</a>
                            <a class="effect-txt ml-1 mr-1 effect-txt">(This Digimon cannot be destroyed by battles with Security Digimon.)</a>
                        {% endif %}
                        {% if card.effect_keyword_2 == 'Security Attack +' %}
                        <a class="effect-keyword ml-1 mr-1" id="white-effect">{{card.effect_keyword_2}} {{card.effect_keyword_int_2}}</a>
                            <a class="effect-txt ml-1 mr-1 effect-txt">(Increase the number of Security this Digimon checks by +{{card.effect_keyword_int_2}}.)</a>
                        {% endif %}
                        {% if card.effect_keyword_2 == 'Security Attack -' %}
                        <a class="effect-keyword ml-1 mr-1" id="white-effect">{{card.effect_keyword_2}} {{card.effect_keyword_int_2}}</a>
                            <a class="effect-txt ml-1 mr-1 effect-txt">(Decrease the number of Security this Digimon checks by -{{card.effect_keyword_int_2}}.)</a>
                        {% endif %}
                        {% if card.effect_keyword_2 == 'Blocker' %}
                            <a class="effect-keyword ml-1 mr-1" id="white-effect">{{card.effect_keyword_2}}</a>
                            <a class="effect-txt ml-1 mr-1 effect-txt">(When the opponent Digimon performs an attack, if this Digimon is in the Active position, you may Rest this Digimon and change the target of the attack to this Digimon.)</a>
                        {% endif %}
                        {% if card.effect_keyword_2 == 'Recovery (Deck) +' %}
                        <a class="effect-keyword ml-1 mr-1" id="white-effect">{{card.effect_keyword_2}} {{card.effect_keyword_int_2}}</a>
                            <a class="effect-txt ml-1 mr-1 effect-txt">(Place {{card.effect_keyword_int_2}} card from the top of your deck into the top of your Security.)</a>
                        {% endif %}
                    {% endif %}
                </h6>
                <h6 class="font-weight-normal">
                    {% if card.effect_blue_3 %}<a class="effect-blue ml-1 mr-1" id="white-effect">{{card.effect_blue_3}}</a>{% endif %}
                    {% if card.effect_purple_3 %}<a class="effect-purple ml-1 mr-1" id="white-effect">{{card.effect_purple_3}}</a>{% endif %}
                    {% if card.effect_txt_3 %}<a class="effect-txt">{{card.effect_txt_3 | safe}}</a>{% endif %}
                    {% if card.effect_keyword_3 %}
                        {% if card.effect_keyword_3 == 'Pierce' %}
                            <a class="effect-keyword ml-1 mr-1" id="white-effect">{{card.effect_keyword_3}}</a>
                            <a class="effect-txt ml-1 mr-1 effect-txt">(When this Digimon attacks, if it destroys an opponent’s Digimon, it checks Security.)</a>
                        {% endif %}
                        {% if card.effect_keyword_3 == 'Draw' %}
                            <a class="effect-keyword ml-1 mr-1" id="white-effect">{{card.effect_keyword_3}} {{card.effect_keyword_int_3}}</a>
                            <a class="effect-txt ml-1 mr-1 effect-txt">(Draw {{card.effect_keyword_int_3}} card from your deck.)</a>
                        {% endif %}
                        {% if card.effect_keyword_3 == 'Jamming' %}
                            <a class="effect-keyword ml-1 mr-1" id="white-effect">{{card.effect_keyword_3}}</a>
                            <a class="effect-txt ml-1 mr-1 effect-txt">(This Digimon cannot be destroyed by battles with Security Digimon.)</a>
                        {% endif %}
                        {% if card.effect_keyword_3 == 'Security Attack +' %}
                        <a class="effect-keyword ml-1 mr-1" id="white-effect">{{card.effect_keyword_3}} {{card.effect_keyword_int_3}}</a>
                            <a class="effect-txt ml-1 mr-1 effect-txt">(Increase the number of Security this Digimon checks by +{{card.effect_keyword_int_3}}.)</a>
                        {% endif %}
                        {% if card.effect_keyword_3 == 'Security Attack -' %}
                        <a class="effect-keyword ml-1 mr-1" id="white-effect">{{card.effect_keyword_3}} {{card.effect_keyword_int_3}}</a>
                            <a class="effect-txt ml-1 mr-1 effect-txt">(Decrease the number of Security this Digimon checks by -{{card.effect_keyword_int_3}}.)</a>
                        {% endif %}
                        {% if card.effect_keyword_3 == 'Blocker' %}
                            <a class="effect-keyword ml-1 mr-1" id="white-effect">{{card.effect_keyword_3}}</a>
                            <a class="effect-txt ml-1 mr-1 effect-txt">(When the opponent Digimon performs an attack, if this Digimon is in the Active position, you may Rest this Digimon and change the target of the attack to this Digimon.)</a>
                        {% endif %}
                        {% if card.effect_keyword_3 == 'Recovery (Deck) +' %}
                        <a class="effect-keyword ml-1 mr-1" id="white-effect">{{card.effect_keyword_3}} {{card.effect_keyword_int_3}}</a>
                            <a class="effect-txt ml-1 mr-1 effect-txt">(Place {{card.effect_keyword_int_3}} card from the top of your deck into the top of your Security.)</a>
                        {% endif %}
                    {% endif %}
                </h6>            
            </div>
        {% endif %}

        {% if card.evolutionary_effect_blue_1 or card.evolutionary_effect_txt_1 or card.evolutionary_effect_keyword_1  %}
            <div class="effecth light-bg mt-2 no-radius-bot color-{{card.color}}">
                {% if card.card_type == 'Digimon' or card.card_type == 'Digitama' %}
                    <h4 class="ml-2 font-italic font-weight-bolder">Inheritable Effect</h4>
                {% endif %}
                {% if card.card_type == 'Tamer' or card.card_type == 'Option' %}
                    <h4 class="ml-2 font-italic font-weight-bolder">Security Effect</h4>
                {% endif %}
            </div>
            <div class="color-{{card.color}} light-bg no-radius-top">
                <h6 class="font-weight-normal">
                    {% if card.evolutionary_effect_blue_1 %}<a class="effect-blue ml-1 mr-1" id="white-effect">{{card.evolutionary_effect_blue_1}}</a>{% endif %}
                    {% if card.evolutionary_effect_purple_1 %}<a class="effect-purple ml-1 mr-1" id="white-effect">{{card.evolutionary_effect_purple_1}}</a>{% endif %}
                    {% if card.evolutionary_effect_txt_1 %}<a class="effect-txt">{{card.evolutionary_effect_txt_1 | safe}}</a>{% endif %}
                    {% if card.evolutionary_effect_keyword_1 %}
                        {% if card.evolutionary_effect_keyword_1 == 'Pierce' %}
                            <a class="effect-keyword ml-1 mr-1" id="white-effect">{{card.evolutionary_effect_keyword_1}}</a>
                            <a class="effect-txt ml-1 mr-1 effect-txt">(When this Digimon attacks, if it destroys an opponent’s Digimon, it checks Security.)</a>
                        {% endif %}
                        {% if card.evolutionary_effect_keyword_1 == 'Draw' %}
                            <a class="effect-keyword ml-1 mr-1" id="white-effect">{{card.evolutionary_effect_keyword_1}} {{card.evolutionary_effect_keyword_int_1}}</a>
                            <a class="effect-txt ml-1 mr-1 effect-txt">(Draw {{card.evolutionary_effect_keyword_int_1}} card from your deck.)</a>
                        {% endif %}
                        {% if card.evolutionary_effect_keyword_1 == 'Jamming' %}
                            <a class="effect-keyword ml-1 mr-1" id="white-effect">{{card.evolutionary_effect_keyword_1}}</a>
                            <a class="effect-txt ml-1 mr-1 effect-txt">(This Digimon cannot be destroyed by battles with Security Digimon.)</a>
                        {% endif %}
                        {% if card.evolutionary_effect_keyword_1 == 'Security Attack +' %}
                        <a class="effect-keyword ml-1 mr-1" id="white-effect">{{card.evolutionary_effect_keyword_1}} {{card.evolutionary_effect_keyword_int_1}}</a>
                            <a class="effect-txt ml-1 mr-1 effect-txt">(Increase the number of Security this Digimon checks by +{{card.evolutionary_effect_keyword_int_1}}.)</a>
                        {% endif %}
                        {% if card.evolutionary_effect_keyword_1 == 'Security Attack -' %}
                        <a class="effect-keyword ml-1 mr-1" id="white-effect">{{card.evolutionary_effect_keyword_1}} {{card.evolutionary_effect_keyword_int_1}}</a>
                            <a class="effect-txt ml-1 mr-1 effect-txt">(Decrease the number of Security this Digimon checks by -{{card.evolutionary_effect_keyword_int_1}}.)</a>
                        {% endif %}
                        {% if card.evolutionary_effect_keyword_1 == 'Blocker' %}
                            <a class="effect-keyword ml-1 mr-1" id="white-effect">{{card.evolutionary_effect_keyword_1}}</a>
                            <a class="effect-txt ml-1 mr-1 effect-txt">(When the opponent Digimon performs an attack, if this Digimon is in the Active position, you may Rest this Digimon and change the target of the attack to this Digimon.)</a>
                        {% endif %}
                        {% if card.evolutionary_effect_keyword_1 == 'Recovery (Deck) +' %}
                        <a class="effect-keyword ml-1 mr-1" id="white-effect">{{card.evolutionary_effect_keyword_1}} {{card.evolutionary_effect_keyword_int_1}}</a>
                            <a class="effect-txt ml-1 mr-1 effect-txt">(Place {{card.evolutionary_effect_keyword_int_1}} card from the top of your deck into the top of your Security.)</a>
                        {% endif %}
                    {% endif %}
                </h6>
                <h6 class="font-weight-normal">
                    {% if card.evolutionary_effect_blue_2 %}<a class="effect-blue ml-1 mr-1" id="white-effect">{{card.evolutionary_effect_blue_2}}</a>{% endif %}
                    {% if card.evolutionary_effect_purple_2 %}<a class="effect-purple ml-1 mr-1" id="white-effect">{{card.evolutionary_effect_purple_2}}</a>{% endif %}
                    {% if card.evolutionary_effect_txt_2 %}<a class="effect-txt">{{card.evolutionary_effect_txt_2 | safe}}</a>{% endif %}
                    {% if card.evolutionary_effect_keyword_2 %}
                        {% if card.evolutionary_effect_keyword_2 == 'Pierce' %}
                            <a class="effect-keyword ml-1 mr-1" id="white-effect">{{card.evolutionary_effect_keyword_2}}</a>
                            <a class="effect-txt ml-1 mr-1 effect-txt">(When this Digimon attacks, if it destroys an opponent’s Digimon, it checks Security.)</a>
                        {% endif %}
                        {% if card.evolutionary_effect_keyword_2 == 'Draw' %}
                            <a class="effect-keyword ml-1 mr-1" id="white-effect">{{card.evolutionary_effect_keyword_2}} {{card.evolutionary_effect_keyword_int_2}}</a>
                            <a class="effect-txt ml-1 mr-1 effect-txt">(Draw {{card.evolutionary_effect_keyword_int_2}} card from your deck.)</a>
                        {% endif %}
                        {% if card.evolutionary_effect_keyword_2 == 'Jamming' %}
                            <a class="effect-keyword ml-1 mr-1" id="white-effect">{{card.evolutionary_effect_keyword_2}}</a>
                            <a class="effect-txt ml-1 mr-1 effect-txt">(This Digimon cannot be destroyed by battles with Security Digimon.)</a>
                        {% endif %}
                        {% if card.evolutionary_effect_keyword_2 == 'Security Attack +' %}
                        <a class="effect-keyword ml-1 mr-1" id="white-effect">{{card.evolutionary_effect_keyword_2}} {{card.evolutionary_effect_keyword_int_2}}</a>
                            <a class="effect-txt ml-1 mr-1 effect-txt">(Increase the number of Security this Digimon checks by +{{card.evolutionary_effect_keyword_int_2}}.)</a>
                        {% endif %}
                        {% if card.evolutionary_effect_keyword_2 == 'Security Attack -' %}
                        <a class="effect-keyword ml-1 mr-1" id="white-effect">{{card.evolutionary_effect_keyword_2}} {{card.evolutionary_effect_keyword_int_2}}</a>
                            <a class="effect-txt ml-1 mr-1 effect-txt">(Decrease the number of Security this Digimon checks by -{{card.evolutionary_effect_keyword_int_2}}.)</a>
                        {% endif %}
                        {% if card.evolutionary_effect_keyword_2 == 'Blocker' %}
                            <a class="effect-keyword ml-1 mr-1" id="white-effect">{{card.evolutionary_effect_keyword_2}}</a>
                            <a class="effect-txt ml-1 mr-1 effect-txt">(When the opponent Digimon performs an attack, if this Digimon is in the Active position, you may Rest this Digimon and change the target of the attack to this Digimon.)</a>
                        {% endif %}
                        {% if card.evolutionary_effect_keyword_2 == 'Recovery (Deck) +' %}
                        <a class="effect-keyword ml-1 mr-1" id="white-effect">{{card.evolutionary_effect_keyword_2}} {{card.evolutionary_effect_keyword_int_2}}</a>
                            <a class="effect-txt ml-1 mr-1 effect-txt">(Place {{card.evolutionary_effect_keyword_int_2}} card from the top of your deck into the top of your Security.)</a>
                        {% endif %}
                    {% endif %}
                </h6>
                <h6 class="font-weight-normal">
                    {% if card.evolutionary_effect_blue_3 %}<a class="effect-blue ml-1 mr-1" id="white-effect">{{card.evolutionary_effect_blue_3}}</a>{% endif %}
                    {% if card.evolutionary_effect_purple_3 %}<a class="effect-purple ml-1 mr-1" id="white-effect">{{card.evolutionary_effect_purple_3}}</a>{% endif %}
                    {% if card.evolutionary_effect_txt_3 %}<a class="effect-txt">{{card.evolutionary_effect_txt_3 | safe}}</a>{% endif %}
                    {% if card.evolutionary_effect_keyword_3 %}
                        {% if card.evolutionary_effect_keyword_3 == 'Pierce' %}
                            <a class="effect-keyword ml-1 mr-1" id="white-effect">{{card.evolutionary_effect_keyword_3}}</a>
                            <a class="effect-txt ml-1 mr-1 effect-txt">(When this Digimon attacks, if it destroys an opponent’s Digimon, it checks Security.)</a>
                        {% endif %}
                        {% if card.evolutionary_effect_keyword_3 == 'Draw' %}
                            <a class="effect-keyword ml-1 mr-1" id="white-effect">{{card.evolutionary_effect_keyword_3}} {{card.evolutionary_effect_keyword_int_1}}</a>
                            <a class="effect-txt ml-1 mr-1 effect-txt">(Draw {{card.evolutionary_effect_keyword_int_1}} card from your deck.)</a>
                        {% endif %}
                        {% if card.evolutionary_effect_keyword_3 == 'Jamming' %}
                            <a class="effect-keyword ml-1 mr-1" id="white-effect">{{card.evolutionary_effect_keyword_3}}</a>
                            <a class="effect-txt ml-1 mr-1 effect-txt">(This Digimon cannot be destroyed by battles with Security Digimon.)</a>
                        {% endif %}
                        {% if card.evolutionary_effect_keyword_3 == 'Security Attack +' %}
                        <a class="effect-keyword ml-1 mr-1" id="white-effect">{{card.evolutionary_effect_keyword_3}} {{card.evolutionary_effect_keyword_int_1}}</a>
                            <a class="effect-txt ml-1 mr-1 effect-txt">(Increase the number of Security this Digimon checks by +{{card.evolutionary_effect_keyword_int_1}}.)</a>
                        {% endif %}
                        {% if card.evolutionary_effect_keyword_3 == 'Security Attack -' %}
                        <a class="effect-keyword ml-1 mr-1" id="white-effect">{{card.evolutionary_effect_keyword_3}} {{card.evolutionary_effect_keyword_int_1}}</a>
                            <a class="effect-txt ml-1 mr-1 effect-txt">(Decrease the number of Security this Digimon checks by -{{card.evolutionary_effect_keyword_int_1}}.)</a>
                        {% endif %}
                        {% if card.evolutionary_effect_keyword_3 == 'Blocker' %}
                            <a class="effect-keyword ml-1 mr-1" id="white-effect">{{card.evolutionary_effect_keyword_3}}</a>
                            <a class="effect-txt ml-1 mr-1 effect-txt">(When the opponent Digimon performs an attack, if this Digimon is in the Active position, you may Rest this Digimon and change the target of the attack to this Digimon.)</a>
                        {% endif %}
                        {% if card.evolutionary_effect_keyword_3 == 'Recovery (Deck) +' %}
                        <a class="effect-keyword ml-1 mr-1" id="white-effect">{{card.evolutionary_effect_keyword_3}} {{card.evolutionary_effect_keyword_int_1}}</a>
                            <a class="effect-txt ml-1 mr-1 effect-txt">(Place {{card.evolutionary_effect_keyword_int_1}} card from the top of your deck into the top of your Security.)</a>
                        {% endif %}
                    {% endif %}
                </h6>
            </div>
        {% endif %}

        {% if user.is_authenticated %}
            <form method="POST">
                {% csrf_token %}
                <fieldset class="form-group">
                    <legend class="border-bottom mb-4">Add card</legend>
                    {{ form|crispy }}
                </fieldset>
                <div class="form-group">
                    <button class="pilss-cl btn" type="submit">Add</button>
                </div>
            </form>
        {% endif %}

    </div>


    <div class="w-100 d-flex justify-content-between">
        {% for card in previous_card|slice:":1" %}
            <div class="light-bg">
                {% if card.slug %}
                    <a class="font-weight-bold previous-c" href="/cards/{{card.set.slug}}/{{ card.slug}}">◄ {{card.slug}} - {{card.title}}</a>
                {% endif %}
            </div>
        {% endfor %}
        {% for card in next_card|slice:":1" %}
            <div class="light-bg">
                {% if card.slug %}
                    <a class="next-c font-weight-bold" href="/cards/{{card.set.slug}}/{{ card.slug}}">{{card.slug}} - {{card.title}} ►</a>
                {% endif %}
            </div>
        {% endfor %}
    </div>

</div>    

{% endblock %}
