{% extends 'base_layout.html' %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col">
            <div class="card card-body">
                <div class="border-g d-inline-flex mt-2 align-middle">
                    <img src="/static/icon_pack.png">
                    <h2 class="font-italic font-weight-bold pt-lg-2">Booster Sets</h2>
                </div>
                <div class="list w-100 d-flex justify-content-center">
                    {% for set in sets %}
                        {% if set.set_type == "Booster" %}
                            <div class="set-list-items m-2">
                                <a href="/cards/{{set.slug}}">
                                    <img class="set-list-img" src="{{set.image.url}}">
                                    <div class="set-bg-overlay">
                                        <div class="bottom-right">
                                            {{set.slug}}
                                            {{ set.title }}
                                        </div>
                                    </div>
                                </a>
                            </div>
                        {% endif %}
                    {% endfor %}
                </div>
                <div class="border-g d-inline-flex mt-2 align-middle">
                    <img src="/static/icon_deck.png">
                    <h2 class="font-italic font-weight-bold pt-2">Starter Decks</h2>
                </div>
                <div class="list w-100 d-flex justify-content-center">
                    {% for set in sets %}
                        {% if set.set_type == "Deck" %}
                            <div class="set-list-items m-2">
                                <a href="/cards/{{set.slug}}">
                                    <img class="set-list-img" src="{{set.image.url}}">
                                    <div class="bottom-right">
                                        {{set.slug}}
                                        {{ set.title }}
                                    </div>
                                </a>
                            </div>
                        {% endif %}
                    {% endfor %}
                </div>
                <div class="border-g d-inline-flex mt-2 align-middle">
                    <h2 class="font-italic font-weight-bold p-2">Promos</h2>
                </div>
                <div class="list w-100 ">
                    {% for set in sets %}
                        {% if set.set_type == "Promo" %}
                            <div class="set-list-items m-2">
                                <a href="/cards/{{set.slug}}">
                                    <img class="set-list-img" src="{{set.image.url}}">
                                    <div class="set-bg-overlay">
                                        <div class="bottom-right">
                                            {{ set.title }}
                                        </div>
                                    </div>
                                </a>
                            </div>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
