{% extends 'base_layout.html' %}
{% load crispy_forms_tags %}
{% load widget_tweaks %}
{% block content %}
    <div class="content">
        <div class="row">
            <div class="">

            </div>

        </div>
        <h1 class="card-title">{{set.slug}} - {{ set.title }}</h1>

        
        <div class="progress">
            <div class="progress-bar" {% if set_percent %}style = "width: {{set_percent}}%;"{% endif %}>
            </div>
        </div>

        <p>{{usercards_c}}/{{set.total_unique}}</p>
        <p><h2 class="card-title">{{set_percent}}%</h2></p>

        {{usercards}}

        
        <!-- <form method="POST">
            {% csrf_token %}
                {% for card in cards %}
                <div class="row">
                    <div class="col">{{card}}</div>
                    <div class="col">{% render_field form.card value=card.id %}</div>
                    <div class="col">
                        {% for usercard in usercards %}
                            {% if usercard.card == card %}
                                {% render_field form.quantity  value=usercard.quantity  %}
                            {% endif %}
                        {% endfor %}
                   </div>
                </div>
                {% endfor %}
            <button class="pilss-cl btn" type="submit">Save</button>
        </form> -->
        <table>
        {% for card in cards %}
        <form method="POST">
        {% csrf_token %}
                <tr class="w-100 border-w">
                    <td class= "color-radial-{{card.color}} align-middle text-center font-weight-bold">{{card.number}}</td>
                    <td class= "font-weight-bold">{{card.title}}</td>
                    <div class="d-none">{% render_field form.card value=card.id %}</div>
                    <td class="t-pc cost-bg-play align-middle text-center font-weight-bold">
                        {% for usercard in usercards %}
                            {% if usercard.card == card %}
                                {% render_field form.quantity class='form-control' value=usercard.quantity %}
                            {% endif %}
                        {% endfor %}
                        {% if card.id not in usercards_ids %}
                            {% render_field form.quantity %}
                        {% endif %}
                    </td>
                    <td>
                        <button class="pilss-cl btn" type="submit">
                            {% if card.id not in usercards_ids %}
                                Add
                            {% else %}
                                Save
                            {% endif %}
                        </button>
                    </td>
                </tr>
        </form>
        {% endfor %}
    </table>

    </div>
{% endblock %}
