{% extends 'base_layout.html' %}
{% block content %}
    <div class="content">
        <h1>{{set.title}}</h1>
        <div class="media">
            <h1>{{user.username}}</h1>
        </div>

        
        {{usercards}}

        {{usercards_c}}/{{set.total_unique}} - {{set_percent}}%

        <div class="card card-body mt-3">
            <table class="table table-sm table-dark">
                <tr class="bg-p">
                    <th class="t-number">Number</th>
                    <th class="t-rarity">Rarity</th>
                    <th class="t-name pl-3">Name</th>
                    <th class="t-pc">Quantity</th>
                    <th class="t-pc">Parallel</th>
                    <th class="t-type">Type</th>
                </tr>               
                {% for card in cards %}
                    <tr>
                        <td class="color-{{card.color}} t-number">{{card.number}}</td>
                        <td class="t-rarity">
                            {% if card.rarity == "SEC" %}
                                <h6 class="card-rarity-list m-lr-pc-sec">
                                    {{card.rarity}}
                                </h6>
                            {% else %}
                                <h6 class="card-rarity-list m-lr-pc">
                                    {{card.rarity}}
                                </h6>
                            {% endif %}
                        </td>
                        <td class="t-name card-thumb align-middle m-0 p-0 border-g">
                            <table class="m-0 p-0">
                                <tr class="m-0 p-0">
                                    <td class="m-0 p-0 bb-none  pl-2">
                                        {% if card.in_deck_quantity %}
                                            <h6 class="font-italic mr-2">{{card.in_deck_quantity}}x</h6>
                                        {% endif %}
                                    </td>
                                    <td class="m-0 p-0 bb-none  pl-2">
                                        <a href="/cards/{{set.slug}}/{{card.slug}}">
                                            <div class="hover_img hovertxt">
                                                <h6 class="font-weight-bold">{{card.title}}</h6>
                                                <img class="hidden-large" id="list-thumb" src="{% if card.image_en %}{{card.image_en.url}}{% else %}{{card.image_jp.url}}{% endif %}">
                                            </div>
                                        </a>
                                    </td>
                                </tr>
                            </table>
                        </td>
                        <td class="t-pc order-g align-middle text-center">
                            {% for usercard in usercards %}
                                {% if usercard.card == card %}
                                    <input type="number" name="quantity" value="{{usercard.quantity}}" class="numberinput form-control" id="id_quantity">
                                {% endif %}
                            {% endfor %}
                        </td>
                        {% if set.set_type == "Booster" %}
                            <td class="t-rarity border-g">
                                {% if card.image_parallel %}
                                    <img class="m-lr-pc" width="20px" src="/static/check.png">
                                {% endif %}
                            </td>
                        {% endif %}
                        <td class="t-type border-g">{{card.card_type}}</td>
                    </tr>
                {% endfor %}
            </table>
        </div>

    </div>
{% endblock %}
