{% extends 'base_layout.html' %}
{% load filters %}
{% block content %}
    <div class="content">
        <h1 class="card-title">Collection</h1>
        <div class="row light-bg">
            <div class="col-2">
                <img class="profile-pic mx-auto d-block" src="{{user.profile.image.url}}">
                <h2 class="">{{user.username}}</h2>
            </div>
            <div class="col-10 light-bg">
                <div class="row p-0 m-0">
                    <div class="col-lg p-0">
                        <div class="th cardh card-info">Total Cards:</div>
                        <div class="td cardtd card-info"><h6>{{usercards_q.quantity__sum}}</h6></div>
                    </div>
                    <div class="col-lg p-0">
                        <div class="th cardh card-info">Unique Cards:</div>
                        <div class="td cardtd card-info"><h6>{{usercards_c}}</h6></div>
                    </div>
                </div>
            </div>
        </div>

        <div class="light-bg mt-3 p-0">
            <nav>
                <div class="nav nav-tabs d-flex justify-content" id="nav-tab" role="tablist">
                  <a class="nav-item c-tabs active" id="nav-home-tab" data-toggle="tab" href="#nav-home" role="tab" aria-controls="nav-home" aria-selected="true">Sets</a>
                  <a class="nav-item c-tabs" id="nav-profile-tab" data-toggle="tab" href="#nav-profile" role="tab" aria-controls="nav-profile" aria-selected="false">Starter Decks</a>
                  <a class="nav-item c-tabs" id="nav-contact-tab" data-toggle="tab" href="#nav-contact" role="tab" aria-controls="nav-contact" aria-selected="false">Promos</a>
                </div>
            </nav>
        </div>
        <div class="tab-content" id="nav-tabContent">
            <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
                {% for set in sets %}
                    {% if set.set_type == "Booster" %}
                        <a href="/collection/{{set.slug}}">
                            <div class="row c-set" {% if set_percentages.bt1 %}style = "background: linear-gradient(110deg,  {{set.color_1}} {% for key, value in set_percentages.items %}{% if key == set.slug %}{{ value }}{% endif %}{% endfor %}{% if set.slug not in set_percentages %}0{% endif %}%, {{set.color_2}} 0%);"{% endif %}>
                                <div class="col-10">
                                    <h3 class="card-title mb-1">{{set.slug}} - {{ set.title }}</h3>
                                </div>
                                <div class="col-2">
                                    <h3 class="card-title mb-1">
                                        {% for key, value in set_percentages.items %}
                                            {% if key == set.slug %}
                                                {{ value }}%
                                            {% endif %}
                                        {% endfor %}
                                        {% if set.slug not in set_percentages %}
                                            0.00%
                                        {% endif %}
                                    </h3>
                                </div>
                            </div>
                        </a>
                    {% endif %}
                {% endfor %}
            </div>
            <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
                <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
                    {% for set in sets %}
                        {% if set.set_type == "Deck" %}
                            <a href="/collection/{{set.slug}}">
                                <div class="row c-set" {% if set_percentages.bt1 %}style = "background: linear-gradient(110deg,  {{set.color_1}} {% for key, value in set_percentages.items %}{% if key == set.slug %}{{ value }}{% endif %}{% endfor %}{% if set.slug not in set_percentages %}0{% endif %}%, {{set.color_2}} 0%);"{% endif %}>
                                    <div class="col-10">
                                        <h3 class="card-title mb-1">{{set.slug}} - {{ set.title }}</h3>
                                    </div>
                                    <div class="col-2">
                                        <h3 class="card-title mb-1">
                                            {% for key, value in set_percentages.items %}
                                                {% if key == set.slug %}
                                                    {{ value }}%
                                                {% endif %}
                                            {% endfor %}
                                            {% if set.slug not in set_percentages %}
                                                0.00%
                                            {% endif %}
                                        </h3>
                                    </div>
                                </div>
                            </a>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
            <div class="tab-pane fade" id="nav-contact" role="tabpanel" aria-labelledby="nav-contact-tab">Promos</div>
        </div>
        
    </div>
{% endblock %}
