{% extends 'base_layout.html' %}
{% block content %}

<div class="row">
    <div class="col">
        <div class="light-bg mt-2">
            <div class="list d-flex justify-content-center text-uppercase">
                <a href="https://mega.nz/folder/EB5TgD5L#4LtSKZkebapMEUaeRLOTLw">
                    <h2>Download Card Images. Japanese, English, Paralles.</h2>
                    <span class="text-info">Files will be updated as soon new cards and translations are done</span>
                </a>
            </div>
        </div>
    </div>
</div>

{% endblock %}
