{% extends 'base_layout.html' %}
{% block content %}

<div class="container">
    <div class="row">
        <div class="col">
            <div class="light-bg mt-2">
                <h2 class="font-italic font-weight-bold">Last Revealed Cards</h2>
                    <div class="tab-pane fade show active" id="gallery" role="tabpanel" aria-labelledby="gallery">
                        <div class="list">
                        {% for card in new_cards %}
                            <div class="hover_img">
                                <a href="/cards/{{card.card.set.slug}}/{{card.card.slug}}">
                                    {% if card.parallel == True %}
                                        <img class="card-thumb" id="promo-w" src="{% if card.card.image_parallel %}{{card.card.image_parallel.url}}{% else %}{{card.card.image_jp.url}}{% endif %}">
                                    {% else %}
                                        <img class="card-thumb" id="promo-w" src="{% if card.card.image_en %}{{card.card.image_en.url}}{% else %}{{card.card.image_jp.url}}{% endif %}">
                                    {% endif %}
                                    <img class="hidden-large" src="{% if card.card.image_en %}{{card.card.image_en.url}}{% else %}{{card.card.image_jp.url}}{% endif %}">
                                </a>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <div class="light-bg mt-2">
                <h2 class="font-italic font-weight-bold">Random Cards</h2>
                    <div class="tab-pane fade show active" id="gallery" role="tabpanel" aria-labelledby="gallery">
                        <div class="list">
                        {% for card in random_cards %}
                            <div class="hover_img">
                                <a href="/cards/{{card.set.slug}}/{{card.slug}}">
                                    <img class="card-thumb" id="promo-w" src="{% if card.image_en %}{{card.image_en.url}}{% else %}{{card.image_jp.url}}{% endif %}">
                                    <img class="hidden-large" src="{% if card.image_en %}{{card.image_en.url}}{% else %}{{card.image_jp.url}}{% endif %}">
                                </a>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

<script>
    $(function(){
        $('.card-thumb').hover( function() {

            b = this.parentElement.getElementsByClassName("hidden-large")[0]

            b.style['display']="block";

        });
        $('.card-thumb').mouseleave( function() {
            
            b = this.parentElement.getElementsByClassName("hidden-large")[0]

            b.style['display']="none";
            })
    })
</script>

{% endblock %}